.home {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home__container {
    max-width: 1920px;
}

.home__banner {
    height: 600px;
    background-position: center;
    background-size: cover;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}