.product {
    background-color: white;
    z-index: 100;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    height: 400px;
    width: 250px;
    min-width: 100px;
    flex-wrap: wrap;
} 

.product__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product__price {
    font-weight: 500;
    margin-top: 3px;
}

.product__rating {
    display: flex;
}

.product__image{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img {
    object-fit: contain;
    max-height: 200px;
    min-width: 100px;
}

.product__button{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__button button {
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #a88734;
    width: 100px;
    height: 29px;
}