.app {
    background-color: rgb(234, 237, 237);
}

.amzButton {
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    word-spacing: 0px;
    background-color: #f0c14b;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #c59f43;
    border-right: 1px solid #aa8326;
    border-bottom: 1px solid #957321;
    border-left: 1px solid #aa8326;
    border-radius: 3px;
}