@font-face {
  font-family: 'AmazonFont';
  src: url('./font/AmazonEmber_W_Rg.eot') 
      /* url('myfont.ttf') format('truetype') */
      url('./font/AmazonEmber_W_Rg.woff') format('woff')
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'AmazonFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}